/* static/css/style.css */

/* ========================================================================
                                                                                                 OVERALL STYLES - BASE.HTML
   ========================================================================= */
body {
    max-width: 1200px;
    margin: 20px auto;
    background: linear-gradient(to left, rgba(255, 223, 52, 0.96), rgba(255, 244, 106, 0.96));
    font-family: "QuicksandbookRegular-0gw4"; 
    font-weight: 600;
    color: #333; 
}

.content-container {
    max-width: 800px;
    margin: 10px auto; 
    padding: 20px;
    border-color: #ffac3b;
    border-radius: 10px;
    background: linear-gradient(to right, #fffbcf, #fff35a);
    overflow: hidden;
}

h1 {
    font-size: 60px;
    font-family: 'QuicksandboldRegular-44B9';
    letter-spacing: -5px;
    text-align: center;
    background: linear-gradient(to left, #ffac3b, #fd69a8);
    -webkit-background-clip: text;
    background-clip: text;         
    color: transparent;            
}

h2 { 
    font-size: 30px;
    font-family: 'QuicksandboldRegular-44B9';
    letter-spacing: -2px;
    color:#fd69a8;
}

h3 { 
    font-size: 20px;
    font-family: 'QuicksandboldRegular-44B9';
    color:#fd69a8;
}

/* =================================================================== FONT */
@font-face {
    font-family: 'QuicksandbookRegular-0gW4'; 
    src: url('/static/blog_app/fonts/QuicksandbookRegular-0gW4.otf');
}

@font-face {
    font-family: 'QuicksandboldRegular-44B9'; 
    src: url('/static/blog_app/fonts/QuicksandboldRegular-44B9.otf');
}

/* ========================================================================
                                                                                                                    USER_LOGIN.HTML
   ========================================================================= */
.user-login-form input[type="text"],
.user-login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}




/* =============================================================
                                                                                                                NAVBAR
===============================================================*/
.base-navbar {
    max-width: 830px; 
    margin: 20px auto 20px;
    color: #fff;
    background: linear-gradient(to left, #fd69a8, #ffac3b);
    height: 40px;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

.base-navbar a {
    font-size: 20px;
    margin: 0 15px; 
    text-decoration: none;
    color: #fff; /
}

.base-navbar a:hover {
    text-decoration: underline;
}

/* Responsive Navbar */
@media screen and (max-width: 768px) {
    .base-navbar {
        height: auto; 
    }

    .base-navbar .burger-menu {
        display: flex;
    }

    .base-navbar .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
    }

    .base-navbar .nav-links a {
        margin: 0;
        padding: 15px 20px;
        text-align: center;
    }
}

/* ========================================================================
                                                                                                                                HOME.HTML
   ========================================================================= */
.plus-icon-link {
    width: 2em;
    height: 2em;
    fill: #fd69a8; 
    transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out;
    display: block;
    margin: auto;
}

.plus-link:hover .plus-icon-link {
    transform: scale(1.2);
    animation: none; 
}
.post-card {
    margin-bottom: 30px;
}

.post-card-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.display-comments {
    height: auto; 
    padding: 20px;
    background-color: #ffac3b;
    border-radius: 10px;
    margin-top: 20px;
}

/* =========================================================================
                                                                                                     CREATE A POST - POST.HTML
   ========================================================================== */
.form-group {
    margin-bottom: 20px;
}

.post-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.post-textarea textarea,
input[type="text"],
select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.button {
    background: linear-gradient(to left, rgba(253, 105, 168, 0.9), #ffac3b);
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}


/* USER_LOGIN.HTML and USER_LOGOUT.HTML styles remain unchanged */

/* Responsive styles */
@media screen and (max-width: 768px) {
    .base-navbar .burger-menu {
        display: flex;
    }

    .base-navbar .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
    }

    .base-navbar .nav-links a {
        margin: 0;
        padding: 15px 20px;
        text-align: center;
    }
}

