/* ======================================
                              STYLE.CSS
========================================
                                                                                                 OVERALL STYLES - BASE.HTML
========================================================================== */
body {
    max-width: 1200px;
    margin: 20px auto;
    background: linear-gradient(to left, #ffdf34, #fff46a);
    font-family: 'QuicksandbookRegular-0gW4'; 
    font-weight: 600;
}

.content-container {
    max-width: 800px;
    margin: 10px auto; 
    padding: 10px 10px;
    border-color: #ffac3b;
    border-radius: 10px;
    background: linear-gradient(to right, #fffbcf, #fff35a);
    overflow: hidden;
}

.base-navbar {
    max-width: 830px; 
    margin: 20px auto 20px;
    color: #fff;
    background: linear-gradient(to left, #fd69a8, #ffac3b);
    height: 40px;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

.base-navbar a {
    font-size: 20px;
    margin: 0 15px; 
    text-decoration: none;
    color: #fff; /
}

.base-navbar a:hover {
    text-decoration: underline;
}

/* Responsive Navbar */
@media screen and (max-width: 768px) {
    .base-navbar {
        height: auto; 
    }

    .base-navbar .burger-menu {
        display: flex;
    }

    .base-navbar .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
    }

    .base-navbar .nav-links a {
        margin: 0;
        padding: 15px 20px;
        text-align: center;
    }
}

h1, h2, h3 {font-style: 'QuicksandboldRegular-44B9';}

h1 {
    font-size: 50px;
    letter-spacing: -3px;
    text-align: center;
    background: linear-gradient(to left, #ffac3b, #fd69a8);
    -webkit-background-clip: text;
    background-clip: text;         
    color: transparent;            
}

h2 { 
    font-size: 25px;
    letter-spacing: -2px;
    color:#000;
}

h3 { 
    font-size: 18px;
    color:#000;
}

p {
    font-size: 12px;
}

@font-face {
    font-family: 'QuicksandbookRegular-0gW4'; 
    src: url('/static/blog_app/fonts/QuicksandbookRegular-0gW4.otf');
}

@font-face {
    font-family: 'QuicksandboldRegular-44B9'; 
    src: url('/static/blog_app/fonts/QuicksandboldRegular-44B9.otf');
}
/* ========================================================================
                                                                                                                    USER_LOGIN.HTML
   ========================================================================= */
.user-login-form input[type="text"],
.user-login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* ========================================================================
                                                                                                                                HOME.HTML
   ========================================================================= */
.post-card {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.img-info-text {
    font-size: 11px;
    color: #000000; 
}

.plus-icon-link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1.5s infinite;
    transition: box-shadow 0.2s ease;
    margin: 20px auto; 
}

.plus-icon-link:hover {
    box-shadow: 0 0 10px #f21d46;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.post-card-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.comments-display {
    height: auto; 
    padding: 5px 10px;
    background-color: #000;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #eaeaea;
}

.comment-item {
    padding: -5px 5px -5px 5px; 
}

.comment-divider {
    margin-top: -5px; 
    margin-bottom: -5px; 
}
/* =========================================================================
                                                                                                                                    POST.HTML
   ========================================================================== */
.form-group {
    margin-bottom: 20px;
}

.post-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.textarea textarea,
input[type="text"],
select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 16px;
}

.button {
    background: linear-gradient(to left, #fd69a8, #ffac3b);
    color: #fff;
    padding: 12px 24px;
    margin-bottom:10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.button:hover {
    box-shadow: 0 0 5px rgba(253, 105, 168, 0.9);
    background: linear-gradient(to left, #ffac3b, #fd69a8);
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}