<!-- C:\rootfolder\blog_app\templates\blog_app\user_registration.html -->
{% extends 'blog_app/base.html' %}

{% block page_title %}
    <title>User Registration</title>
{% endblock page_title %}

{% block page_content %}
    <div class="user_registration-container">
        <h2>User Registration</h2>

        <form method="post" action="{% url 'user_registration' %}" class="user_registration-form">
            {% csrf_token %}

            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}

            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}

            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}

            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}

            <button type="submit">Register</button>
        </form>

        <a href="{% url 'user_login' %}" class="login-link">Already have an account? Login here</a>
    </div>
{% endblock page_content %}
